$main-color: #3498DB;
$text-color: #566573;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

h1{
  color: $main-color;
}

.form {
  width: 50%;
  position: relative;
  height: 50px;
  overflow: hidden;

  input {
    width: 100%;
    height: 100%;
    color: $text-color;
    padding-top: 20px;
    border: none;
    outline: none;
    font-size: 18px;
  }

  label {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;

    .content-name {
      position: absolute;
      bottom: 5px;
      left: 0;
      transition: all 0.3s ease;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 100%;
      border-bottom: 3px solid $main-color;
      transform: translateX(-100%);
      transition: transform 0.3s ease;
    }
  }
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name{
  transform: translateY(-150%);
  font-size: 14px;
  color: $main-color;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after{
  transform: translateX(0%);
}
